[Unit]
Description=Generates a wireless access point
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/rpi-access-point

[Install]
WantedBy=multi-user.target
